services:
- docker
language: python
python:
- '3.6'
jobs:
  include:
  - stage: deploy
    if: branch = master AND (NOT type IN (pull_request))
    provider: script
    script: bash deploy.sh
env:
  global:
  - COMMIT_TAG=${TRAVIS_COMMIT::8}
  - NAMESPACE=default
  - ENDPOINT=example
  - secure: nXKI3VzCL4k3OXyVbVEwGDrUCnBXPQ8a/0mkx1dOhnvmASYuImBLsMlYZvVdAyuSYfQqQLIDxQwGkgfUA3jZqEZvHz6C7CK3ENIXlkNmr+cOPDBq6drpgw75Ju6MZoreDcEKdOSurFsM3dTk9jE1QGJeqkO7x7E/l81iLxccfDt1ZNVfah6MRYeqss4hMBkAADkz3XkmCaUjHp8OO+wNry8XdRMiArloyAL65oCVjgWBEFiUvO2IMx6sHVskV5Kvfi0ftAMhd+h2knwodq2sgdx6pJqzF/0+3Qw6iEtQ8U3zJgmfvugkd7ZVME3JP+w49VHTfJubZyp5s5xHaqU4DpVxPWVj/cyAKC4Wy9Yax+AoP6K3uuSOfYSIGaFETjqs6cmgcDSDhXvZHbcPSSF8ZcW308IupOHrHzNWWBUzrnxgbyaHY8ua8lkq90W7DCJVhA8lG55qRx5gSrambB3V+VeN4mqs2cvjk88655vVItR1sT5LK974bFPhCxNe79r2Z8NU1BqOQCkN3nl1YZH7LmHNbfRbF8RcVGLfr0hY1mtf2SHHDsBcNu5++FWGFeRJiucsE2SVd2443AFw0BbACg7HtRgg18DHb3Z0+5AnZsoBRLDSRR9HJVbagdfrIF+bLacxp6jtigfsJstKprF29WVUYAnse2XbAaRof4Vtc0k=
  - secure: ZDktb8uzJSUX4QZJBQYJulX977gLF4+Q8hD8f45EAi8v2NunmMxLFt/Jp7qLPiJm7c08lsoudvc1O2a7OyArhqRqCsM86Fs8jheyeq7q+oz0keh0V17A6QJLJoteJHygJt95lGHV9K8zvzXmWLLe1IEmO28vbRL1xMtj5ult99bBAr15R9LzUbgFfRQhSpUVWnk/eatdrN500YNwvZtTiJ5YptcC4SKlCMiB1v/jQT3nIzRlOlP1zXQmF41Whaze//T6XeFQd+dgC5Y2aR4hEZTBiuTLn1AixfwEEczuWGBI1huh2ijgsgVSxIUqb8E0X1KGSmFKTreIyGDGWdVr7r1yglBPaC53mR0XLFnFH3OOb7TGBZfHGvvMh5kDXSanq+M7GXtedv+VRevVeEX9QMUINemlD0IRnmQ+mv7QtN+CrlKjfCFuE9XUzzORBIdwc5s114OB7noqFnyDRnu9Ja/gODkkNtycGMLmUP+cUovvlVHT4wlgeA2qOlpYchrXPCenxVCY8l+Yde0iPKC+OYpphZDuoNh/VQmzk1z0v2hYekRBM+speZoP4h8n1OxceZPnfTodJgVNVHko9CVm8kDLkwN3418Cn12wu5xS9CtVEB04MxlXpZ5RR5MUmU1ITdUTnNhZGmkDEZLdMAdlxgIi6bB5EFPwrgfH2q0NcpI=
before_install:
- openssl aes-256-cbc -K $encrypted_ef6e0359b415_key -iv $encrypted_ef6e0359b415_iv
  -in kubeconfig.enc -out kubeconfig -d
