apiVersion: serving.knative.dev/v1alpha1
kind: Service
metadata:
  name: REPOSITORY
  namespace: default
  labels:
    app: api
    microservice: REPOSITORY
spec:
  runLatest:
    configuration:
      revisionTemplate:
        spec:
          container:
            image: docker.io/TRAVIS_REPO_SLUG:COMMIT_TAG
            env:
            - name: TARGET
              value: "Python Sample v1"
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: REPOSITORY
  namespace: default
  labels:
    app: api
    microservice: REPOSITORY
spec:
  gateways:
  - knative-shared-gateway.knative-serving.svc.cluster.local
  hosts:
  - api.pollination.cloud
  http:
  - match:
    - uri:
        prefix: "/"
    rewrite:
      authority: helloworld-python.default.svc.cluster.local
    route:
    - destination:
        host: knative-ingressgateway.istio-system.svc.cluster.local
      weight: 100