apiVersion: serving.knative.dev/v1alpha1
kind: Service
metadata:
  name: {{REPOSITORY}}
  namespace: {{NAMESPACE}}
  labels:
    app: api
    microservice: {{REPOSITORY}}
spec:
  runLatest:
    configuration:
      revisionTemplate:
        spec:
          container:
            image: docker.io/{{ORG}}/{{REPOSITORY}}:{{COMMIT_TAG}}
            env:
            - name: TARGET
              value: "Python Sample v1"
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{REPOSITORY}}
  namespace: {{NAMESPACE}}
  labels:
    app: api
    microservice: {{REPOSITORY}}
spec:
  gateways:
  - knative-ingressgateway.istio-system.svc.cluster.local
  hosts:
  - api.pollination.cloud
  http:
  - match:
    - uri:
        prefix: "/{{ENDPOINT}}"
    rewrite:
      authority: {{REPOSITORY}}.{{NAMESPACE}}.api.pollination.cloud
    route:
    - destination:
        host: knative-shared-gateway.knative-serving.svc.cluster.local
      weight: 100